$font1: Source Sans Pro, sans-serif;
$font2: Hind, sans-serif;
$font3: Fresca, sans-serif;
$background: url("../img/m-h-day.jpg");
$bg-color-header: #14a0c7;
$bg-color-button: #699900;
$bg-color-section: #21232e;
$bg-color-footer: #21232e;
$footer-item-color: #c0c3bf;
$color-txt: black;
$bg-color-main: white;
$gradient: linear-gradient(to right, #65950e, #2d5bd8)