$font1: Source Sans Pro, sans-serif;
$font2: Hind, sans-serif;
$font3: Fresca, sans-serif;
$background: url("../img/m-h-night.jpg");
$bg-color-header: #ff4e33;
$bg-color-button: #e3ac00;
$bg-color-section: #3b3f50;
$bg-color-footer: #3b3f50;
$footer-item-color: #c0c3bf;
$color-txt: white;
$bg-color-main: #21232e;
$gradient: linear-gradient(to right, #dba008, #942f51)